* {
  box-sizing: border-box;
}

.mini-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.hand-h1 {
  font-size: 1rem;
  color: rgb(101, 102, 105);
  margin: 0;
  font-weight: 500;
  margin-top: 20px;
}

.cards-container {
  display: flex;
}

.cards-container.users {
  display: flex;
  /* margin-top: 20px; */
}

.actions-container {
  display: flex;
  height: 100px;
}

.game-feed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.game-feed > h3 {
  width: 150px;
  margin: 0;
  margin-top: 5px;
}

.action-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ppbtn{
  width: 150px;
  height: 40px;
  border-radius: 9999px;
  outline: none;
  border: none;
  /* margin-top: 10px; */
  margin-right: 10px;
  font-weight: bold;
  box-shadow: 0px 7px 15px -2px rgba(0, 0, 0, 0.068);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ppbtn:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

.bet {
  background-color: white;
  color: rgb(1, 194, 130);
}

.action {
  background-color: white;
  color: rgb(194, 1, 1);
  text-transform: capitalize;
}

.ppbtn.disabled:hover {
  cursor: default;
  transform: translateY(0);
}

.ppbtn.disabled {
  background-color: rgb(231, 231, 231);
  color: rgb(107, 107, 107);
  text-transform: capitalize;
}

.results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.pph3 {
  font-size: 1.25rem;
}

.back-to--home {
  width: 150px;
  height: 40px;
  border-radius: 9999px;
  outline: none;
  border: none;
  position: fixed;
  top: 10px;
  left: 10px;
  margin-right: 10px;
  font-weight: bold;
  box-shadow: 0px 7px 15px -2px rgba(0, 0, 0, 0.068);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.back-to--home :hover {
  cursor: pointer;
  transform: translateY(-3px);
}